.bold-text {
  font-weight: 600;
}

.job-info {
  border: 3px solid rgb(119, 119, 119);
  padding: 1em;
  margin-bottom: 1em;
}

.job-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 2em;
}